<div class="container-fluid text-dark text-center py-2">
    <p class="h1">Sorry!</p>
    <p class="h3">An error occured while trying to load that page!</p>

    <p>Please make sure to report the problem to the following email: <a href="#" class="link-dark">isaac@wall-y.ca</a></p>

    <img class="img" src="/Images/warning.png">
</div>