<!DOCTYPE html>

<html lang="en">
    <%- include('partials/metaData') -%>

    <body>
        <%- include('partials/navbar') -%>
        
        <div class="fluid-container d-flex gap-2">
            <%- include('partials/error') -%>
        </div>
    </body>

    <%- include('partials/footer') -%>
</html>