<div class="container mb-5 mt-3">
    <img src="/Images/Logo.png" class="img-fluid mx-auto d-block" alt="Wall-Y Logo" style="width:40%;">
</div>

<div class="fluid-container text-center my-5">
    <p class=""></p>
    <h1 class="fw-bold">WHAT WE DO</h1>
    <div class="container">
        <h2 style="color: #adadadff" class="fw-bold fs-4">Here at Wall-Y Studio, we currently manage a social media news source where we showcase new technology that seem promissing in the future.</h2>
    </div>
</div>
